header nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}
nav a {
    color: navy;
    text-decoration: none;
    font-size: 1.1em;
    transition: 0.3s;
}

nav a:hover {
    color: black;
    transform: scale(1.07);
}
img {
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}
.icon {
    color: navy;
    font-size: 30px;
    margin: 0 15px;
    transition: 0.3s;
}

.icon:hover {
    color: black;
    transform: scale(1.2);
}
